/@Exile
/battleye/beserver.dll
/TADST
/addons
/curator
/dll
/dta
/heli
/kart
/keys
/mark
/steam_api.dll
/steam_appid.txt
/steamclient.dll
/TADST.exe
/tier0_s.dll
/vstdlib_s.dll
/arma3server.exe
/arma3server_readme.txt
/ijl15.dll
/LICENSE.txt
/msvcr100.dll
/physx3_x86.dll
/physx3common_x86.dll
/physx3cooking_x86.dll
/physx3gpu_x86.dll
/steam.dll
/@ExileServer/addons/a3_dms
/@ExileServer/undedz
/@ExileServer/extDB/logs
/@Ryanzombies
/expansion
